body {

}

/*Header Section*/

.header-container {
	display: flex;
	overflow: hidden;
	background-color: #333;
	position: fixed; /*navbar in fixed position*/
	top: 0; /*fixed to the top of the page*/
	width: 100%; /*full width*/
	color: white;
	margin: 0;
	padding: 0;
}

/*This is turned into a flex container so logo and H2 can be side
by side */
.head-div-1 {
	flex: 1;
	display: flex;
}

.head-div-1 a {
	flex: 1;
	margin; 0;
}

.head-div-1 h2 {
	flex: 1;
	margin; 0;
}

/*Navbar side*/
.head-div-2 {
	flex: 1;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	padding: 0px 0px 10px 70px;
	margin: 0;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	color: white;
}

/*Process Section */

#process {
	margin: 0;
	height: 50px;
}

.process-container {
	margin: 0;
	padding-top: 0;
	background-color: blue;
	display: flex;
	flex-direction: column;
}

.process-all-1 {
	flex: 1;
	padding-left: 30px;
	padding-top: 0px;
}

.process-all-2 {
	margin-top: 40px;
	flex: 1;
	padding-left: 30px;
}

#video {
	
}
/*Pricing Section*/

#pricing {
	height: 20px;
}

.price-container {
	max-width: 1200px;
	margin: 140px auto 0 auto;
}

.price-a, .price-b, .price-c {
	background-color: grey;
	padding: 25px 30px 25px 50px;
	box-sizing: border-box;
	margin-bottom: 50px;
	flex-basis: 30%;
}
/*This will stack the pricing columns for mobil device size*/
@media (min-width: 900px) {
	/*this is the parent container*/
	.price-container {
		display: flex;
	 	justify-content: space-between;
	}	 	
}
/*Our Process Section*/
#process {
	margin-top: 100px;
}

/*Contact Section*/
#contact {
	height: 100px;
}

.contact-container {
	display: flex;
	max-width: 1200px;
	justify-content: space-around;	
}

.contact-main {
	background-color: gray;
	flex-basis: 50%;
	box-sizing: border-box;
	padding: 60px 0px;
	text-align: center;
	margin-bottom: 50px;
}
/*Form Boxes to enter name and email address*/

#name, #email {
	width: 250px;
}

/* Review Section*/

.review-container {
	/*display: flex;
	justify-content: space-between;*/
	max-width: 1200px;
	margin: 10px auto 0 auto;
}

.review-1, .review-2, .review-3, .review-4 {
	box-sizing: border-box;
	flex-basis: 20%;
	background-color: gray;
	/*width: 400px;*/
	padding: 15px 15px;
}

@media (min-width: 900px) {
	.review-container {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
}

/*Footer Section*/
#copyright {
	padding-left: 25px;
}



